<nav class="navbar navbar-dark bg-dark">
    <span class="navbar-text">
        Consumir API
    </span>
    <button type="button" class="btn btn-outline-success my-2 my-sm-0" (click)="onLogout()">Logout</button>
</nav>