<app-header></app-header>


<div class="container bootstrap snippets bootdey">
<div class="panel-body inf-content">
    <div class="row">
        <div class="col-md-4">
            <img alt="" style="width:600px;" title="" class="img-circle img-thumbnail isTooltip" src="https://bootdey.com/img/Content/avatar/avatar7.png" data-original-title="Usuario"> 
            <ul title="Ratings" class="list-inline ratings text-center">
                <li><a href="#"><span class="glyphicon glyphicon-star"></span></a></li>
                <li><a href="#"><span class="glyphicon glyphicon-star"></span></a></li>
                <li><a href="#"><span class="glyphicon glyphicon-star"></span></a></li>
                <li><a href="#"><span class="glyphicon glyphicon-star"></span></a></li>
                <li><a href="#"><span class="glyphicon glyphicon-star"></span></a></li>
            </ul>
        </div>
        <div class="col-md-6">
            <strong>Informacion Personal</strong><br>
            <div class="table-responsive">
            <table class="table table-user-information">
                <tbody>
                    <tr>        
                        <td>
                            <strong>
                                <span class="glyphicon glyphicon-asterisk text-primary"></span>
                                Nombre completo                                                
                            </strong>
                        </td>
                        <td class="text-primary">
                            {{ usuario_info.personal_in.nombre_completo }}
                        </td>
                    </tr>
                    <tr>    
                        <td>
                            <strong>
                                <span class="glyphicon glyphicon-user  text-primary"></span>    
                                Numero de identificación                                                
                            </strong>
                        </td>
                        <td class="text-primary">
                            {{ usuario_info.personal_in.numero_id }}     
                        </td>
                    </tr>
                    <tr>        
                        <td>
                            <strong>
                                <span class="glyphicon glyphicon-cloud text-primary"></span>  
                                Celular                                                
                            </strong>
                        </td>
                        <td class="text-primary">
                            {{ usuario_info.personal_in.celular }}  
                        </td>
                    </tr>

                    <tr>        
                        <td>
                            <strong>
                                <span class="glyphicon glyphicon-bookmark text-primary"></span> 
                                email                                                
                            </strong>
                        </td>
                        <td class="text-primary">
                            {{ usuario_info.personal_in.email }}
                        </td>
                    </tr>                                                                            
                </tbody>
            </table>
            <strong>Información de residencia</strong><br>
            <div class="table-responsive">
            <table class="table table-user-information">
                <tbody>
                    <tr>        
                        <td>
                            <strong>
                                <span class="glyphicon glyphicon-asterisk text-primary"></span>
                                Departamento                                                
                            </strong>
                        </td>
                        <td class="text-primary">
                            {{ usuario_info.residencia_in.departamento }}     
                        </td>
                    </tr>
                    <tr>    
                        <td>
                            <strong>
                                <span class="glyphicon glyphicon-user  text-primary"></span>    
                                Ciudad                                                
                            </strong>
                        </td>
                        <td class="text-primary">
                            {{ usuario_info.residencia_in.ciudad }}         
                        </td>
                    </tr>
                    <tr>        
                        <td>
                            <strong>
                                <span class="glyphicon glyphicon-cloud text-primary"></span>  
                                Barrio                                                
                            </strong>
                        </td>
                        <td class="text-primary">
                            {{ usuario_info.residencia_in.barrio }}      
                        </td>
                    </tr>

                    <tr>        
                        <td>
                            <strong>
                                <span class="glyphicon glyphicon-bookmark text-primary"></span> 
                                Dirección                                                
                            </strong>
                        </td>
                        <td class="text-primary">
                            {{ usuario_info.residencia_in.direccion }}      
                        </td>
                    </tr>                                                        
                </tbody>
            </table>
            <strong>Información financiera</strong><br>
            <div class="table-responsive">
            <table class="table table-user-information">
                <tbody>
                    <tr>        
                        <td>
                            <strong>
                                <span class="glyphicon glyphicon-asterisk text-primary"></span>
                                Salario                                                
                            </strong>
                        </td>
                        <td class="text-primary">
                            {{ usuario_info.financiero_in.salario }}         
                        </td>
                    </tr>
                    <tr>    
                        <td>
                            <strong>
                                <span class="glyphicon glyphicon-user  text-primary"></span>    
                                Otros ingresos                                                
                            </strong>
                        </td>
                        <td class="text-primary">
                            {{ usuario_info.financiero_in.otros_ingresos }}    
                        </td>
                    </tr>
                    <tr>        
                        <td>
                            <strong>
                                <span class="glyphicon glyphicon-cloud text-primary"></span>  
                                Gastos mensuales                                                
                            </strong>
                        </td>
                        <td class="text-primary">
                            {{ usuario_info.financiero_in.gastos_mensuales }} 
                        </td>
                    </tr>

                    <tr>        
                        <td>
                            <strong>
                                <span class="glyphicon glyphicon-bookmark text-primary"></span> 
                                Gastos financieros                                                
                            </strong>
                        </td>
                        <td class="text-primary">
                            {{ usuario_info.financiero_in.gastos_financieros }}
                        </td>
                    </tr>                                   
                </tbody>
            </table>            
            </div>
        </div>
    </div>    
</div>
</div>         
</div>   
</div>   
<div class="clear"></div>
   
<app-footer></app-footer>